name: Publish Release
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Create a Release
      uses: elgohr/Github-Release-Action@master
      env:
        GITHUB_TOKEN: 4550b7daeaf00f819e3b9f352bc82cc3dbfde969
      with:
        args: A new dumb release I guess?
